html {
    font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body{
    background: #F5F5F5;
    color: #000;
    font-size: 1rem;
}

.box {
	margin: 0 0 1rem 0;
}

label {
	display: block;
}

section{
    max-width: 50rem;
    margin: auto;
    margin-top:-1rem;
    background: #F5F5F5;
    position: relative;
    padding: 5em 1em;
}

legend{
    text-align: center;
    font-size: 2rem;
    background: #F5F5F5;
    border: 1px solid #DDD;
    width: auto;
    padding: 1rem;
    position: absolute;
    top: -2.7rem;
    
}

form{
    border: 1px solid #DDD;
    padding: 3em 1em 1em; 
    background: #DDD;
    position: relative;
}

.box{
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
}

.box input[type=text]{
    width: 100%;
}

.mess textarea{
    width: 100%;
}

input[type=submit]{
    display: inline-block;
    width: 100%;
    padding: 0.5em 2em;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #6495ED;
    border: none;
    border-radius: 5px;
}

input[type=submit]:hover {background-color: #6495ED}

input[type=submit]:active {
  background-color: #6495ED;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*MEDIA QUERIES*/
@media (min-width: 25rem) {

    section{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    
    .first{
        margin-right: 1em;
    }
    
    .box{
        width: 46%;
    }
    
    .mess{
        width: 100%;
    }
    
    input[type=submit]{
        width: auto;
    }
}
